{% extends 'base.html' %}

{% block title %}Matchday Overview{% endblock %}

{% block content %}
<h1>Matchday Overview</h1>

<div class="row">
  <div class="col-md-12">
    {% for field, matches in matches_by_field.items %}
      <h3 class="mt-4">{{ field }}</h3>
      {% for match in matches %}
        <div class="card mb-3 {% if match.is_finished %}bg-success text-white{% else %}bg-light{% endif %}">
          <div class="card-body">
            <h5 class="card-title">{{ match.home_team.name }} vs {{ match.away_team.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ match.start_time }}</h6>
            {% if match.is_finished %}
                <p class="h4 text-black fw-bold">
                    Result: {{ match.home_score }} - {{ match.away_score }}
                </p>
            {% endif %}
            <a href="{% url 'match-detail' match.pk %}" class="btn btn-primary btn-sm">Preview</a>
            <a href="{% url 'match-edit' match.pk %}" class="btn btn-primary btn-sm">Score</a>
          </div>
        </div>
      {% endfor %}
    {% empty %}
      <p>No matches scheduled.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
