.sponsor-carousel {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.sponsor-track {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  animation-name: scroll;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.sponsor-track a img {
  height: 60px;
  width: auto;
  object-fit: contain;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}