body::before {
    content: "";
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: url("/static/imgs/footnail.png");
    background-size: 100px;
    opacity: 10%;
    mix-blend-mode: multiply;
    z-index: -1;
}

body {
    background-color: #c8e6c9;
    opacity: 99.9%;
    z-index: -11;
}

.page-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #a5d6a7;
}

@media (max-width: 768px) {
  .team-list-style .team-list-container .page-title {
    font-size: 1.5rem;
  }
}