@import url("base.css");
@import url("navbar.css");
@import url("home.css");
@import url("landing_page.css");
@import url("public_home.css");
@import url("tournament_form.css");
@import url("team_form.css");
@import url("leaderboard.css");
@import url("match_form.css");
@import url("team_list.css");
@import url("team_detail.css");
@import url("match_edit.css");
@import url("fields.css");
@import url("../../../sponsors/static/sponsor_form.css");
@import url("../../../sponsors/static/sponsor_list.css");