{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="list-container">
    <h1 class="page-title">Sponsor Banners</h1>
  <ul class="banner-list">
    {% for banner in banners %}
      <li class="banner-item">
        <img src="{{ banner.image.url }}" alt="{{ banner.name }}">
        <div class="banner-info">
          <strong>{{ banner.name }}</strong>
          {% if banner.link_url %}
          <a href="{{ banner.link_url }}" target="_blank">
            {{ banner.link_url }}
          </a>
          {% else %}
          <p> No link provided </p>
          {% endif %}
          <button 
          data-id="{{ banner.id }}" 
          data-tournament="{{tournament.id}}" 
          data-url="{% url 'sponsor-remove' tournament.id banner.id %}"
          class="delete-banner">
              Remove Sponsor
          </button>
        </div>
      </li>
    {% empty %}
      <li class="empty-state">No banners yet.</li>
    {% endfor %}
  </ul>
    <a href="{% url 'sponsor-add' tournament.id %}" class="btn-primary">
      Add Banner
    </a>
</div>
{% endblock %}

{% block extra_js %}
<script src={% static '/js/delete_sponsor.js' %}> </script>
{% endblock %}